<div class="container">

    <a href="/user/category/store/{{data.user._id}}">
    <button class="main-btn btn-2">Adicionar nova categoria</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Valor Total</th>
                <th>Opções</th>
            </tr>        
        </thead>
        <tbody>
            {{#each data.categories}}
            <tr>
                <td>{{name}}</td>
                <td>{{total_price}}</td>
                <td>
                    <a href="/user/product/dashboard/{{_id}}">
                        <button class="main-btn">Produtos</button>
                    </a>
                    <a href="/user/category/update/{{_id}}">
                        <button class="btn-edit">
                            <i class='bx bxs-edit-alt'></i>
                        </button>
                    </a>
                    <a href="/user/category/destroy/{{_id}}">
                        <button class="btn-delete">
                            <i class='bx bxs-trash-alt'></i>
                        </button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
