<div class="container">
    <a href="/user/product/store/{{data.category._id}}">
        <button class="main-btn btn-2">Adicionar novo produto</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Opções</th>
            </tr>
        </thead>
        
        <tbody>

            {{#each data.products}}
            <tr>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td class="td-options">
                    <a href="/user/product/update/{{_id}}">
                        <button class="btn-edit">
                            <i class='bx bxs-edit-alt'></i>
                        </button>
                    </a>
                    <a href="/user/product/destroy/{{_id}}">
                        <button class="btn-delete">
                            <i class='bx bxs-trash-alt'></i>
                        </button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

